.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12rem auto 6rem;
    padding: 2rem;
    background: #F9FAFD;
    width: 70%;
    height: 20rem;
}

.grey-logo {
    width: 3rem;
    margin: auto;
}

.clients img {
    width: 90%;
    margin: auto;
    padding: 0 1rem;
}

@media screen and (max-width: 1200px) {
    .clients {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .clients img {
        padding: 0;
    }
}