.clients {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.clients img {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 1rem;
}

@media screen and (max-width: 1200px) {
    .clients {
        flex-direction: column;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .clients img {
        padding: 0;
    }
}