.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12rem auto 6rem;
    padding: 2rem;
    background: #F9FAFD;
    width: 70%;
    height: 20rem;
}

.grey-logo {
    width: 1.5rem;
    margin: auto;
}

.clients img {
    width: 90%;
    margin: auto;
    padding: 0 1rem;
}

.small-clients {
    display: none;
}

@media screen and (max-width: 650px) {
    .clients {
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: inline-block;
        height: auto;
    }
    .clients img {
        padding: 0;
    }
    .grey-logo {
        width: 1rem;
        margin-bottom: 2rem;
    }
    .small-clients {
        display: inline-block;
    }
    .clients-big {
        display: none;
    }
}