/* HOMEPAGE */

.title {
    font-size: 3.5rem;
    margin-left: 8rem;
    margin-top: 7rem;
    line-height: 4rem;
    font-weight: 800;
}

.mobile-title {
  display: none;
}

  @media screen and (max-width: 1200px) {
    .lottie {
      display: none;
    }
  }

#spin {
  color: #FF517B;
}
#spin:after {
  content:"";
  animation: spin 6s ease infinite;;
}

@keyframes spin {
  18% { content:"web design"; }
  18% { content:"mobile design"; }
  36% { content:"corporate deck design"; }
  54% { content:"branding & logo design"; }
  72% { content: "infographics"; }
  95% { content: "marketing design"; }
}

.btn-cta {
  width: auto;
  max-width: 20rem;
  background: #FF517B;
  background-image: linear-gradient(90deg, #FF517B 0%, #FF7023 100%);
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  padding: 1.5rem 5rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.btn-cta:hover {
  background: #FF517B;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.btn-see-more {
  width: auto;
  max-width: 20rem;
  border: 1.5px solid rgba(45,52,79,0.32);
  border-radius: 10px;
  color: #2d344fcc;
  font-size: 1.1rem;
  padding: 1.5rem 2.8rem;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1rem;
}

.btn-see-more:hover {
  background: #2d344fcc;
  color: white;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.pricing-cta {
  margin-left: 40%;
  border: none;
}

.clients-intro {
  text-align: center;
}

.clients-intro h2 {
  font-size: 2rem;
}

.clients-intro p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.header-buttons {
  display: inline-block;
  margin-left: 5.5rem;
}

.lottie {
  position: absolute;
  right: 0;
  top:0;
  margin-top: 10rem;
  margin-right: 10rem;
}

/* PRICING */

.pricing-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: -17rem;
  width: 100%;
  background: linear-gradient(132.75deg, #5E1986 0%, #34238A 100%);
  padding-bottom: 15rem;
}

.pricing-content p {
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}

.pricing-content h1 {
  text-align: center;
  margin: 15rem 0 0 0;
  color: #fff;
  font-size: 2.2rem;
}

.pricing-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.best-deal {
  background: #F9FAFD!important;
  border-radius: 0!important;
  z-index: 1000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.price-plan {
  width: 25%;
  height: 28rem;
  background: #fff;
  border-radius: 10px;
}

.price-summary {
  color:rgba(45,52,79,0.7)!important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.price-plan h3 {
  font-size: 1.7rem;
  text-align: center;
}

.price-plan p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.price {
  font-size: 2.8rem!important;
  font-weight: 600;
  color: #FF517B !important;
}

.features ul {
  list-style: none;
  padding-left: 2rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.features img {
  width: 12px;
  height: auto;
  margin: 0 1rem 0 0;
}

@media screen and (max-width: 650px) {
  .title {
      font-size: 1.8rem;
      line-height: 2rem;
      margin-left: 3rem;
      margin-top: 3rem;
  }
  .header-buttons {
    display: flex!important;
    flex-direction: column!important;
    margin-left: 2rem!important;  
  }
  .btn-cta {
    font-size: 0.8rem!important;
    padding: 1rem 4rem;
  }
  .btn-see-more {
    font-size: 0.8rem!important;
    margin-left: 0!important;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  .pricing-options {
    flex-direction: column;
  }
  .price-plan {
    width: 80%;
    height: 28rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin: 1rem auto 2rem auto;
  }  
  .best-deal {
    border-radius: 10px!important;
    margin: 1rem auto 2rem auto;
  }
  .pricing-cta {
    margin-left: 2.5rem;
  }
  .features ul {
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .pricing-content p {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  #spin {
    display: none;
  }
  .mobile-title {
    color: #FF517B;
    display: inline;
  }
  .clients-intro h2 {
    font-size: 1.5rem;
    text-align: left;
  }
  .clients-intro p {
    text-align: left;
  }
  .clients-intro br{
    display: none;
  }
}