/* HOMEPAGE */

.title {
    font-size: 3.5rem;
    margin-left: 8rem;
    margin-top: 7rem;
    line-height: 4rem;
    font-weight: 800;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-left: 1rem;
    }
    .header-buttons {
      display: flex!important;
      flex-direction: column!important;
      margin-left: 0!important;      
    }
    .btn-cta {
      font-size: 0.8rem!important;
    }
    .btn-see-more {
      font-size: 0.8rem!important;
      margin-left: 0!important;
      margin-top: 1rem;
    }
  }

#spin {
  color: #FF517B;
}
#spin:after {
  content:"";
  animation: spin 6s ease infinite;;
}

@keyframes spin {
  18% { content:"web design"; }
  18% { content:"mobile design"; }
  36% { content:"corporate deck design"; }
  54% { content:"branding & logo design"; }
  72% { content: "infographics"; }
  95% { content: "marketing design"; }
}

.btn-cta {
  width: auto;
  max-width: 20rem;
  background: #FF517B;
  background-image: linear-gradient(90deg, #FF517B 0%, #FF7023 100%);
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  padding: 1.5rem 5rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.btn-cta:hover {
  background: #FF517B;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.btn-see-more {
  width: auto;
  max-width: 20rem;
  border: 1.5px solid rgba(45,52,79,0.32);
  border-radius: 10px;
  color: #2d344fcc;
  font-size: 1.1rem;
  padding: 1.5rem 2.8rem;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1rem;
}

.btn-see-more:hover {
  background: #2d344fcc;
  color: white;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.pricing-cta {
  margin-left: 40%;
  border: none;
}

.clients-intro {
  text-align: center;
}

.clients-intro h2 {
  font-size: 2rem;
}

.clients-intro p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.header-buttons {
  display: inline-block;
  margin-left: 5.5rem;
}

.lottie {
  position: absolute;
  right: 0;
  top:0;
  margin-top: 10rem;
  margin-right: 10rem;
}

/* PRICING */

.pricing-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: -17rem;
  width: 100%;
  background: linear-gradient(132.75deg, #5E1986 0%, #34238A 100%);
  padding-bottom: 15rem;
}

.pricing-content p {
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
}

.pricing-content h1 {
  text-align: center;
  margin: 15rem 0 0 0;
  color: #fff;
  font-size: 2.2rem;
}

.pricing-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.best-deal {
  background: #F9FAFD!important;
  border-radius: 0!important;
  z-index: 1000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.price-plan {
  width: 25%;
  height: 28rem;
  background: #fff;
  border-radius: 10px;
}

.price-summary {
  color:rgba(45,52,79,0.7)!important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.price-plan h3 {
  font-size: 1.7rem;
  text-align: center;
}

.price-plan p {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.price {
  font-size: 2.8rem!important;
  font-weight: 600;
  color: #FF517B !important;
}

.features ul {
  list-style: none;
  padding-left: 2rem;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.features img {
  width: 12px;
  height: auto;
  margin: 0 1rem 0 0;
}

/* CASE STUDIES */

.portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.portfolio img {
  width: 100%;
  margin-top: 1rem;
}

.case-summary h2{
  text-align: left;
}

.case-summary {
  width: 45%;
  margin-top: -18.5rem;
  padding: 2rem;
  color: white;
  font-weight: 400;
}

.case-summary-right {
  width: 45%;
  margin-top: -18.5rem;
  padding: 2rem;
  color: white;
  font-weight: 400;
  margin-left: 29rem;
}

.case-summary-right h2{
  text-align: left;
}


/* SERVICES */

.services-page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0;
}

.service-card {
  width: 47%;
  height: 20rem;
  margin-top: 1.5rem;
  border: 3px solid #5E1986;
  -webkit-box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
  -moz-box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
  box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
}
