.title {
    font-size: 3.5rem;
    margin-left: 7rem;
    margin-top: 6rem;
    line-height: 4rem;
    font-weight: 800;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-left: 1rem;
    }
    .header-buttons {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }
  }

#spin {
  color: #FF517B;
}
#spin:after {
  content:"";
  animation: spin 6s ease infinite;;
}

@keyframes spin {
  18% { content:"web design"; }
  18% { content:"mobile design"; }
  36% { content:"corporate deck design"; }
  54% { content:"branding & logo design"; }
  72% { content: "infographics"; }
  95% { content: "marketing design"; }
}

.btn-cta {
  width: auto;
  max-width: 10rem;
  background: #FF517B;
  background-image: linear-gradient(90deg, #FF517B 0%, #FF7023 100%);
  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
}

.btn-cta:hover {
  background: #FF517B;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.btn-see-more {
  width: auto;
  max-width: 15rem;
  border: 2px solid #FF517B;
  border-radius: 4px;
  color: #FF517B;
  font-size: 1.1rem;
  padding: 14px 10px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1rem;
}

.btn-see-more:hover {
  background: #FF517B;
  color: white;
  box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.pricing-cta {
  margin-bottom: 5rem;
  margin-left: 40%;
}

.clients-intro {
  text-align: center;
}

.clients-intro p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.header-buttons {
  display: inline-block;
  margin-left: 4rem;
}

.pricing-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 5rem auto;
}

.pricing-content h2 {
  text-align: center;
}

.pricing-content h1 {
  text-align: center;
  margin: 0;
}

.pricing-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.price-plan {
  width: 31%;
  height: 28rem;
  border: 3px solid #5E1986;
  border-radius: 3%;
  -webkit-box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
  -moz-box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
  box-shadow: 11px 8px 5px -4px rgba(184,184,184,0.51);
}

.price-plan h3 {
  font-size: 1.7rem;
  text-decoration: underline;
  text-align: center;
}

.price-plan p {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #FF517B;
  font-weight: 600;
  text-align: center;
}

.price {
  font-size: 2.3rem;
  color: #5E1986 !important;
}

.features ul {
  list-style: none;
  padding-left: 1rem;
  line-height: 1.4rem;
}

.features img {
  width: 10px;
  height: auto;
  margin: 0 1rem 0 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.portfolio img {
  width: 100%;
  margin-top: 1rem;
}

.case-summary h2{
  text-align: left;
}

.case-summary {
  width: 45%;
  margin-top: -18.5rem;
  padding: 2rem;
  color: white;
  font-weight: 400;
}

.case-summary-right {
  width: 45%;
  margin-top: -18.5rem;
  padding: 2rem;
  color: white;
  font-weight: 400;
  margin-left: 29rem;
}

.case-summary-right h2{
  text-align: left;
}


/* @media screen and (max-width: 1200px) {
  .header-buttons {
    display: inline-block;
    margin-left: 0;
  }
} */
