.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #eff2fc;
    padding-top: 5rem;
    padding-bottom: 20rem;
}

.contact-title span {
    color: #FF517B;
}

.contact-title {
    font-size: 3.5rem;
}

@media screen and (max-width: 650px) {
    .contact-wrapper {
        flex-direction: column;    
        padding-bottom: 5rem;        
    }
    .contact-wrapper button{
        margin-left: 2rem;           
    }
    .contact-title {
        font-size: 2.5rem;
        margin-left: 2rem;
    }
}