.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #eff2fc;
    padding-top: 5rem;
    padding-bottom: 20rem;
}

.contact-title span {
    color: #FF517B;
}

.contact-title {
    font-size: 3.5rem;
}