.about-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: -15rem;
    padding-bottom: 5rem;
}

hr {
    border: 0.4px solid hsla(0, 0%, 0%, 0.1);
    width: 80%;
}

.about-footer p {
    font-size: 0.8rem;
    padding: 3rem 10rem;
    opacity: 0.6;
    margin: 0;
    line-height: 1.4rem;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .about-footer p{
        padding: 2rem 2rem;
        line-height: 1.2rem;
    }
}