.services-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
    color: #BABECE;
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 1rem auto 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.services-list li {
    font-size: 1.5rem;
    font-weight: 800;
}

.services-list li:hover {
    cursor: pointer;
    color:#FF517B;
}

.service-img {
    display: flex;
    justify-content: center;
}

.service-img img{
    width: 100%;
}

@media screen and (max-width: 850px) {
    .services-list {
        display: inline-block;
        padding: 2rem;
    }
    .services-list li {
        font-size: 1.4rem;
    }
    .service-img img{
        width: 50%;
    }
    .services-wrapper {
        padding: 0;
    }
}