body {
  margin: 0;
  color:#2D344F;
  font-family: 'Aktiv', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}