header {
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color:#2D344F;   
}

nav {
    position: absolute;
    right: 0;
    padding-right: 4rem;
}

.nav-cta {
    width: auto;
    max-width: 20rem;
    border: 1.5px solid #FF517B;
    border-radius: 6px;
    color: #FF517B;
    font-size: 1rem;
    padding: 0.8rem 2.2rem;
    cursor: pointer;
    font-weight: 500;
    margin-left: 1rem;
}
    
    .nav-cta:hover {
    background: #FF517B;
    color: white;
    box-shadow: 10px 11px 14px -10px rgba(0,0,0,0.2);
}

.menu li {
    display: inline-block;
    font-weight: 400;
    margin-left: 3rem;
    cursor: pointer;
}

.menu {
    font-size: 1em;
    text-align: right;
}
  

  .menu a:hover,
  .menu a:active,
  .menu a.active {
    color:#FF517B;
    opacity: 1;
}

.logo {
    margin: 2rem;
}

.logo img{
    width: 8rem;
}

@media screen and (max-width: 1200px) {
    ul button {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .menu li {
        display: flex;
    }
    .menu {
        margin-top: 4rem;
    }
    nav {
        padding: 0;
    }
}